extends layout

block content
  form(method="post" action='/')
    h1 Please select a country:
      select(name='dropDown', id='')
        each val in ['red' , 'green' , 'blue']
          option=val
        input(type='submit', value='Submit')
  h2 Country Name:
  h2 Population total:
  //Seperators spacing out the forms
  div 
  div
  form(method='POST' action='/updateCountry')
    h3 Update Country:
      select#select2(name='dropDown')
        option
        input(type='submit', value='Submit')
    button.btn.btn-primary(type='submit') Update
  div#like_button_container

  script(src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous")
  script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
  script(src="javascripts/httpRequest.js")
  script(src="javascripts/like_button.js")