<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="java.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>


    <title>Bootstrap</title>
  </head>
  <body class = "bg-light" >
    <div class = "container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand text-light" href="#">Anthony Lock</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link text-light" href="{{ url_for('index') }}">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-light" href="{{ url_for('inspiration') }}">Inspiration <span class="sr-only">(current)</span></a>
                </li>             
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('ajax') }}">Ajax / D3</a>
                  </li>       
            </div>
        </nav>

        <div class = "container mt-4">
            <h1 class = "display-2 text-light text-center mt-4">Ajax and D3 fucntionality</h1>


            <div class="container mt-4" id ="ajax">
              <form class="form"  role="form">
                <button class="btn btn-lg btn-primary btn-block" type="button">Run Ajax</button>
              </form>   
            </div> 
            
            <p>Testing D3</p>
            <svg width="720" height="120">
              <circle cx="40" cy="60" r="30" style="fill:steelblue;"></circle>
              <circle cx="80" cy="60" r="30" style="fill:steelblue;"></circle>
              <circle cx="120" cy="60" r="30" style="fill:steelblue;"></circle>
            </svg>

            <script>
              var data = [];
              for (var i=0; i < 3; i++) {
              data.push(Math.random()*10)
              };

              var svg = d3.select("body").append("svg");

              svg.attr("width", 800).attr("height", 600);

              var circles = svg.selectAll("circle")
                  .data(data)
                  .enter()
                  .append("circle")
                  .attr("cx", 50)
                  .attr("cy", function (d, i) {
                    return i * 100 + 60;
                  })
                  .attr("r", 40)
                  .attr("fill", function (d) {
                    return d.colour;
                  });

              // for the event handler
              // test adapted from https://bl.ocks.org/milkbread/5792150
              circles.on("mousedown",moveCircles);

              var clicked = false;

              function moveCircles() { // give the circles a boolean value
                if (clicked == false) { 
                  clicked = true; 
                  var destination = 1;
                }
                else { 
                  clicked = false; 
                  var destination = -1;
                }
              circles.transition().duration(1500)
                  .attr("cx", (300 * destination) + 350);
              };
            </script>

        </div>
    </div>
    <script src="/static/js/d3.js"></script> <!-- This is here because the html needs to be genorated befor it can run -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>