<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>



    <title>Bootstrap</title>
  </head>
  <body class = "bg-light" >
    <div class = "container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand text-light" href="#">Anthony Lock</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link text-light" href="{{ url_for('index') }}">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-light" href="{{ url_for('inspiration') }}">Inspiration <span class="sr-only">(current)</span></a>
                </li>             
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('ajax') }}">Ajax</a>
                  </li>    
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('d3') }}">D3</a>
                  </li>   
            </div>
        </nav>

        <!-- <div class = "containerMain mt-4"> -->
          <h1 class = "display-2 text-light text-center mt-4">Presentations thanks to D3!</h1>    

          <!-- <form class="form"  role="form">
            Button which will activate ajax call and run the D3 
            <button class="btn btn-lg btn-primary btn-block" id = "vis" type="button">Load graph</button>
          </form> -->        
          <!-- Drop down menu for selecting the csv file you wish to view. -->
          <!-- <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button">
              Select File To View:
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>-->
            <div class="text-center">
              <button id = "vis1" onclick="dataForCsv1()" class="btn btn-secondary btn-sm">File 1</button>
              <button id = "vis2" onclick="dataForCsv2()" class="btn btn-secondary btn-sm">File 2</button>
              <button id = "vis3" onclick="dataForCsv3()" class="btn btn-secondary btn-sm">File 3</button>
            </div>
          <!-- </div> -->
        
          <!-- Svg tag used for D3 elements, populated when D3 is ran -->
          <svg class = "graph mt-2">
            
          </svg>
        <!-- </div> -->
    </div>
    
    <script src="/static/js/app.js"></script>
    
  </body>
</html>