body, .card-body{
    background: url('https://images.unsplash.com/photo-1579714996298-5f25255e98a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

body{
  height: 100% !important;
}

.container{
  height:100% !important;
  max-height: 600px !important;
}

svg{
  
  width: 100%!important;
  height: 100%!important; 
}

.graph{
  margin-top: 40px!important;
  height:600px!important;
}
